
        <!-- Footer section start -->
        <footer class="footer__area">
            <div class="footer__top-wrapper">
              <div class="container">
                <div class="footer__top">
                  <div class="footer__logo">
                    <img src="/imgs/logo/logo-2.png" alt="Logo">
                  </div>
                  <div class="footer__widget">
                    <h3 class="footer__title">Who We Are</h3>
                    <ul class="footer__menu">
                      <li><a href="/aboutus">About Us</a></li>
                      <li><a href="/aboutme">Works</a></li>
                      <li><a href="/blog">Blog</a></li>
                      <li><a href="/contact">Contact Us</a></li>
                    </ul>
                  </div>
                  <div class="footer__widget">
                    <h3 class="footer__title">Services</h3>
                    <ul class="footer__menu">
                      <li><a href="/service-detail">Graphic Design</a></li>
                      <li><a href="/service-detail">Product Design</a></li>
                      <li><a href="/service-detail">Web Development</a></li>
                      <li><a href="/service-detail">Digital Marketing</a></li>
                    </ul>
                  </div>
                  <div class="footer__newsletter">
                    <h3 class="footer__title">Get In Touch</h3>
                    <div class="newsletter">
                      <form action="#">
                        <input type="email" name="email" placeholder="info@yourmail.com">
                        <button type="submit" class="submit"><i class="fa-solid fa-arrow-right"></i></button>
                        <label for="note">
                          <input type="checkbox" name="note" id="note">
                          by signing up, you agree to receive mail.
                        </label>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer__btm-wrapper">
              <div class="container">
                <div class="footer__btm">
                  <div class="footer__contact">
                    <h4 class="title">Mail Us</h4>
                    <a href="mailto:info@yourmail.com">info@yourmail.com</a>
                  </div>
                  <div class="footer__contact">
                    <h4 class="title">Call Us</h4>
                    <a href="tel:1234567899">(00) 123 456 7899</a>
                  </div>
                  <div class="footer__contact">
                    <h4 class="title">Office Address</h4>
                    <a>255 Sheet, New Town, Ukrian</a>
                  </div>
                  <div class="footer__social-wrapper">
                    <ul class="footer__social">
                      <li><a href="https://www.facebook.com/codexup" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                      <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                      <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                      </li>
                      <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </footer>
          <!-- Footer section end -->
    
    
        </div>
      </div>
    
      <script src="/js/jquery-3.6.1.min.js"></script>
      <script src="/js/bootstrap.bundle.min.js"></script>
      <script src="/js/swiper-bundle.min.js"></script>
      <script src="/js/jquery.meanmenu.min.js"></script>
      <script src="/js/counter.js"></script>
      <script src="/js/gsap.min.js"></script>
      <script src="/js/ScrollSmoother.min.js"></script>
      <script src="/js/ScrollTrigger.min.js"></script>
      <script src="/js/SplitText.min.js"></script>
      <script src="/js/MotionPathPlugin.min.js"></script>
      <script src="/js/DrawSVGPlugin.min.js"></script>
      <script src="/js/jquery.magnific-popup.min.js"></script>
      <script src="/js/main.js"></script>
    
    
    </body></html>