<!DOCTYPE html><html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - One</title>
  
    <!-- Fav Icon -->
    <link rel="icon" type="image/x-icon" href="/imgs/logo/favicon.png">
  
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/style.css">
  
  </head>
  
  <body>
  
    <!-- Go to Top -->
    <button class="cxu--go-top">
      <span class="icon-1"><img src="/imgs/shape/go-top.png" alt="Icon"></span>
      <span class="icon-2"><img src="/imgs/shape/go-top.png" alt="Icon"></span>
    </button>
  
  
    <!-- Preloader -->
    <div class="cxu-preloader">
      <div class="wrapper">
        <div class="lines">
          <span class="line line-1"></span>
          <span class="line line-2"></span>
          <span class="line line-3"></span>
          <span class="line line-4"></span>
          <span class="line line-5"></span>
          <span class="line line-6"></span>
          <span class="line line-7"></span>
          <span class="line line-8"></span>
          <span class="line line-9"></span>
        </div>
        <div class="text">Loading...</div>
      </div>
    </div>
  
  
    <div id="smooth-wrapper">
      <div id="smooth-content">
  
        <!-- Header section start -->
        <header class="header__area">
          <div class="header__wrapper">
            <div class="header__logo">
              <a href="/"><img src="/imgs/logo/logo.png" alt="Logo"></a>
            </div>
            <div class="header__menu">
              <nav class="main-menu">
                <ul>
                  <li ><a href="/">Home</a></li>
                  <li class="has-submenu"><a href="#">About</a><ul class="sub-menu">
                      <li><a href="/aboutme">About Me</a></li>
                      <li><a href="/aboutus">about us</a></li>
                    </ul>
                  </li>
                  <li ><a href="/service-detail">Services</a></li>
                  <li><a href="/blog">blog</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </nav>
            </div>
            <div class="header__others">
              <a href="/contact" class="cxu-btn-primary">let's talk</a>
              <button class="open__menu"><img src="/imgs/logo/hamburger-2.png" alt="Icon"></button>
            </div>
          </div>
        </header>
        <!-- Header section end -->