<%- include('./Partials/Header') %>
  
        <!-- Mobile Menu start -->
        <div class="mobile__menu">
          <button class="close__menu"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <!-- Mobile Menu end -->
  
  
        <!-- Breadcrumb section start -->
        <section class="breadcrumb__area">
          <div class="container">
            <div class="breadcrumb__content">
              <p class="cxu-words">Home - <a href="/aboutus">About Us</a></p>
              <h1 class="breadcrumb__title cxu-chars">About Us</h1>
            </div>
          </div>
        </section>
        <!-- Breadcrumb section end -->
  
  
        <!-- About area start -->
        <section class="about-inner__area pt-140 pb-140">
          <div class="container">
            <div class="about-inner__wrapper">
              <div class="about-inner__left">
                <img src="/imgs/about/3.png" alt="Image" class="cxu-fade" data-ease="back" data-speed="0.9">
              </div>
              <div class="about-inner__right">
                <h2 class="title cxu-words">We make design &amp; development to create To grow your brand</h2>
                <p class="cxu-lines">Whether it's crafting a visually stunning brand identity, designing immersive digital
                  experiences, or
                  developing strategic marketing campaigns, we approach each project with meticulous attention to detail
                  and an unwavering dedication to quality.</p>
                <a href="tel:01738863188" class="cxu-btn-primary cxu-fade" data-ease="bounce">Book a Free Call <i class="fa-solid fa-phone-volume"></i></a>
              </div>
            </div>
          </div>
        </section>
        <!-- About area end -->
  
  
        <!-- Counter area start -->
        <section class="counter__area-4 pt-140 pb-140">
          <div class="container">
            <div class="counter__content">
              <div class="counter__list-4">
                <div class="counter__item style-3 cxu-fade" data-ease="back">
                  <div class="counter-active number">25+</div>
                  <p>Innovators Team Members </p>
                </div>
                <div class="counter__item style-3 cxu-fade" data-ease="back">
                  <div class="counter-active number">7k+</div>
                  <p>Global Brand Work With Us</p>
                </div>
                <div class="counter__item style-3 cxu-fade" data-ease="back">
                  <div class="counter-active number">56+</div>
                  <p>Creative Workshops</p>
                </div>
                <div class="counter__item style-3 cxu-fade" data-ease="back">
                  <div class="counter-active number">56+</div>
                  <p>Creative Workshops</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Counter area end -->
  
  
        <!-- Service section start -->
        <section class="service__area-2 pt-140 pb-140">
          <div class="container">
            <div class="service__top-2">
              <h2 class="sec-title cxu-words">Our included <br> services.</h2>
            </div>
  
            <div class="cxu__service style-2">
              <div class="service-item cxu-fade" data-ease="back">
                <div class="icon">
                  <img src="/imgs/service/i1.png" alt="Icon">
                </div>
                <h3 class="title"><a href="/service-detail">Branding <br> Design </a></h3>
                <p>Fusce dapibus cursus commodo tortor mauris condimentum.</p>
                <div class="link">
                  <a href="/service-detail">Learn more <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>
              <div class="service-item cxu-fade" data-ease="back">
                <div class="icon">
                  <img src="/imgs/service/i2.png" alt="Icon">
                </div>
                <h3 class="title"><a href="">Product <br> Design</a></h3>
                <p>Fusce dapibus cursus commodo tortor mauris condimentum.</p>
                <div class="link">
                  <a href="/service-detail">Learn more <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>
              <div class="service-item cxu-fade" data-ease="back">
                <div class="icon">
                  <img src="/imgs/service/i3.png" alt="Icon">
                </div>
                <h3 class="title"><a href="/service-detail">Web <br> Development</a></h3>
                <p>Fusce dapibus cursus commodo tortor mauris condimentum.</p>
                <div class="link">
                  <a href="/service-detail">Learn more <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>
              <div class="service-item cxu-fade" data-ease="back">
                <div class="icon">
                  <img src="/imgs/service/i4.png" alt="Icon">
                </div>
                <h3 class="title"><a href="/service-detail">Motion <br> Design</a></h3>
                <p>Fusce dapibus cursus commodo tortor mauris condimentum.</p>
                <div class="link">
                  <a href="/service-detail">Learn more <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>
              <div class="service-item cxu-fade" data-ease="back">
                <div class="icon">
                  <img src="/imgs/service/i5.png" alt="Icon">
                </div>
                <h3 class="title"><a href="/service-detail">Digital <br> Marketing</a></h3>
                <p>Fusce dapibus cursus commodo tortor mauris condimentum.</p>
                <div class="link">
                  <a href="/service-detail">Learn more <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>
              <div class="service-item cxu-fade" data-ease="back">
                <div class="icon">
                  <img src="/imgs/service/i6.png" alt="Icon">
                </div>
                <h3 class="title"><a href="/service-detail">SEO &amp; <br> Analyze</a></h3>
                <p>Fusce dapibus cursus commodo tortor mauris condimentum.</p>
                <div class="link">
                  <a href="/service-detail">Learn more <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Service section end -->
  
  
        <!-- Award section start -->
        <section class="award__area pt-140 pb-140">
          <div class="container">
            <div class="award__top">
              <h3 class="sec-title cxu-words">Awards &amp; <br> Recognize </h3>
            </div>
  
            <div class="award__list">
              <div class="award__item cxu-fade" data-ease="back">
                <div class="number">01</div>
                <h4 class="title">awwwards.com</h4>
                <p>01 Jan 2020 <span>/</span>Runner Up</p>
                <div class="award-img">
                  <img src="/imgs/award/1.jpg" alt="Image">
                </div>
              </div>
              <div class="award__item cxu-fade" data-ease="back">
                <div class="number">02</div>
                <h4 class="title">awwwards.com</h4>
                <p>01 Jan 2021 <span>/</span>Winner</p>
                <div class="award-img">
                  <img src="/imgs/award/1.jpg" alt="Image">
                </div>
              </div>
              <div class="award__item cxu-fade" data-ease="back">
                <div class="number">03</div>
                <h4 class="title">awwwards.com</h4>
                <p>01 March 2021 <span>/</span>Honorable mention</p>
                <div class="award-img">
                  <img src="/imgs/award/1.jpg" alt="Image">
                </div>
              </div>
              <div class="award__item cxu-fade" data-ease="back">
                <div class="number">04</div>
                <h4 class="title">csswinner.com</h4>
                <p>01 Jan 2022 <span>/</span>Winner</p>
                <div class="award-img">
                  <img src="/imgs/award/1.jpg" alt="Image">
                </div>
              </div>
  
            </div>
          </div>
        </section>
        <!-- Award section end -->
  
  
        <!-- Team area start -->
        <section class="team__area pt-140 pb-140">
          <div class="container">
            <div class="team__top">
              <h2 class="sec-title cxu-words">Meet our <br> creative team</h2>
            </div>
            <div class="cxu--team style-1">
              <div class="member cxu-fade" data-ease="back">
                <div class="image">
                  <img src="/imgs/team/1.png" alt="Image">
                </div>
                <div class="bio">
                  <h3 class="name">Ronald Richards</h3>
                  <h4 class="designation">Product Designer</h4>
                  <ul class="social-media">
                    <li><a href="https://www.facebook.com/codexup" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="member cxu-fade" data-ease="back">
                <div class="image">
                  <img src="/imgs/team/2.png" alt="Image">
                </div>
                <div class="bio">
                  <h3 class="name">Guy Hawkins</h3>
                  <h4 class="designation">Sr. UI/UX Designer</h4>
                  <ul class="social-media">
                    <li><a href="https://www.facebook.com/codexup" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="member cxu-fade" data-ease="back">
                <div class="image">
                  <img src="/imgs/team/3.png" alt="Image">
                </div>
                <div class="bio">
                  <h3 class="name">Obila Maxen</h3>
                  <h4 class="designation">Graphic Designer</h4>
                  <ul class="social-media">
                    <li><a href="https://www.facebook.com/codexup" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="member cxu-fade" data-ease="back">
                <div class="image">
                  <img src="/imgs/team/4.png" alt="Image">
                </div>
                <div class="bio">
                  <h3 class="name">Jacob Jones</h3>
                  <h4 class="designation">Web Developer</h4>
                  <ul class="social-media">
                    <li><a href="https://www.facebook.com/codexup" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Team area end -->
  
  
        <!-- CTA section start -->
        <section class="cta__area cta__area-2 pt-150 pb-150">
          <div class="container">
            <div class="cta__content">
              <h2 class="sec-title cxu-words">Let's Create an Amazing Project Together!</h2>
              <a href="/contact" class="cxu-btn-primary cxu-fade" data-ease="bounce">Start a Project <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
  
          <img src="/imgs/shape/cta.png" alt="Shape" class="shape" data-speed="0.89">
          <img src="/imgs/shape/cta-2.png" alt="Shape" class="shape-2" data-speed="0.9">
          <img src="/imgs/shape/cta-3.png" alt="Shape" class="shape-3" data-speed="0.95">
          <img src="/imgs/shape/cta-4.png" alt="Shape" class="shape-4">
        </section>
        <!-- CTA section end -->


        <%- include('./Partials/Footer') %>