<%- include('./Partials/header') %>
  
        <!-- Mobile Menu start -->
        <div class="mobile__menu">
          <button class="close__menu"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <!-- Mobile Menu end -->
  
  
        <!-- Breadcrumb section start -->
        <section class="breadcrumb__area" style="background-image: url(/imgs/breadcrumb/blog.jpg);">
          <div class="container">
            <div class="breadcrumb__content">
              <p class="cxu-words">Home - Blog</p>
              <h1 class="breadcrumb__title cxu-chars">Blog</h1>
            </div>
          </div>
        </section>
        <!-- Breadcrumb section end -->
  
  
        <!-- Blog area start -->
        <section class="blog__area-4 pt-140 pb-140">
          <div class="container">
            <div class="blog__wrapper-4">
              <div class="blog__posts-4">
                <div class="cxu--posts style-4">
                  <article class="cxu-post cxu-fade" data-ease="back">
                    <div class="thumb">
                      <a href="/blog"><img src="/imgs/blog/7.jpg" alt="Thumbnail"></a>
                    </div>
                    <div class="content">
                      <ul class="meta">
                        <li><a href="category.html">UI/UX Design</a></li>
                        <li><span>01 Jan 2023</span></li>
                      </ul>
                      <h4 class="title"><a href="/blog">Unleash the power of your brand with Our Agency</a>
                      </h4>
                      <a href="/blog" class="cxu-btn-border">Read More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                  </article>
                  <article class="cxu-post cxu-fade" data-ease="back">
                    <div class="thumb">
                      <a href="/blog"><img src="/imgs/blog/8.jpg" alt="Thumbnail"></a>
                    </div>
                    <div class="content">
                      <ul class="meta">
                        <li><a href="category.html">web Development</a></li>
                        <li><span>01 Jan 2023</span></li>
                      </ul>
                      <h4 class="title"><a href="/blog">We craft innovative solutions that drive results</a>
                      </h4>
                      <a href="/blog" class="cxu-btn-border">Read More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                  </article>
                  <article class="cxu-post cxu-fade" data-ease="back">
                    <div class="thumb">
                      <a href="/blog"><img src="/imgs/blog/9.jpg" alt="Thumbnail"></a>
                    </div>
                    <div class="content">
                      <ul class="meta">
                        <li><a href="category.html">Digital marketing</a></li>
                        <li><span>01 Jan 2023</span></li>
                      </ul>
                      <h4 class="title"><a href="/blog">Collaborate with our experts to achieve.</a></h4>
                      <a href="/blog" class="cxu-btn-border">Read More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                  </article>
                  <article class="cxu-post cxu-fade" data-ease="back">
                    <div class="thumb">
                      <a href="/blog"><img src="/imgs/blog/10.jpg" alt="Thumbnail"></a>
                    </div>
                    <div class="content">
                      <ul class="meta">
                        <li><a href="category.html">web Design</a></li>
                        <li><span>01 Jan 2023</span></li>
                      </ul>
                      <h4 class="title"><a href="/blog">We connect with your audience through</a></h4>
                      <a href="/blog" class="cxu-btn-border">Read More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                  </article>
                </div>
  
                <div class="blog__pagination cxu-fade" data-ease="back">
                  <ul>
                    <li class="prev"><a href="/blog"><i class="fa-solid fa-arrow-left"></i></a></li>
                    <li><a class="current" href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li class="next"><a href="/blog"><i class="fa-solid fa-arrow-right"></i></a></li>
                  </ul>
                </div>
              </div>
  
              <div class="blog__sidebar">
                <div class="widget__search cxu-fade" data-ease="back">
                  <h2 class="widget__title">search</h2>
                  <form action="">
                    <input type="text" placeholder="Search Here">
                    <button class="submit"><img src="/imgs/shape/search.png" alt="Icon"></button>
                  </form>
                </div>
  
                <div class="widget__recent cxu-fade" data-ease="back">
                  <h2 class="widget__title">Recent Blog</h2>
                  <div class="cxu--posts style-5">
                    <article class="cxu-post">
                      <div class="thumb">
                        <a href="/blog"><img src="/imgs/blog/11.jpg" alt="Thumbnail"></a>
                      </div>
                      <div class="content">
                        <ul class="meta">
                          <li><a>01 Jan 2023</a></li>
                        </ul>
                        <h4 class="title"><a href="/blog">Brand stories that design</a></h4>
                      </div>
                    </article>
                    <article class="cxu-post">
                      <div class="thumb">
                        <a href="/blog"><img src="/imgs/blog/12.jpg" alt="Thumbnail"></a>
                      </div>
                      <div class="content">
                        <ul class="meta">
                          <li><a>01 Jan 2023</a></li>
                        </ul>
                        <h4 class="title"><a href="/blog">Crafting captivating</a></h4>
                      </div>
                    </article>
                    <article class="cxu-post">
                      <div class="thumb">
                        <a href="/blog"><img src="/imgs/blog/13.jpg" alt="Thumbnail"></a>
                      </div>
                      <div class="content">
                        <ul class="meta">
                          <li><a>01 Jan 2023</a></li>
                        </ul>
                        <h4 class="title"><a href="/blog">Visual storytelling in </a></h4>
                      </div>
                    </article>
                  </div>
                </div>
  
                <div class="widget__category cxu-fade" data-ease="back">
                  <h2 class="widget__title">Categories</h2>
                  <ul>
                    <li><a href="">Branding Design</a></li>
                    <li><a href="">Product Design</a></li>
                    <li><a href="">UX Design</a></li>
                    <li><a href="">Web Development</a></li>
                  </ul>
                </div>
  
                <div class="widget__tags cxu-fade" data-ease="back">
                  <h2 class="widget__title">Tags</h2>
                  <ul>
                    <li><a href="">apps</a></li>
                    <li><a href="">headphones</a></li>
                    <li><a href="">Design </a></li>
                    <li><a href="">equipment </a></li>
                    <li><a href="">music</a></li>
                    <li><a href="">brands</a></li>
                  </ul>
                </div>
  
                <div class="widget__share cxu-fade" data-ease="back">
                  <h2 class="widget__title">Follow us</h2>
                  <ul class="social-media">
                    <li><a href="https://www.facebook.com/codexup" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Blog area end -->
  
        <%- include('./Partials/Footer') %>