<%- include('./Partials/header') %>

        <!-- Mobile Menu start -->
        <div class="mobile__menu">
          <button class="close__menu"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <!-- Mobile Menu end -->
  
  
        <!-- Breadcrumb section start -->
        <section class="breadcrumb__area" style="background-image: url(/imgs/breadcrumb/service-details.jpg);">
          <div class="container">
            <div class="breadcrumb__content">
              <p class="cxu-words">Home - Service Details</p>
              <h1 class="breadcrumb__title cxu-chars">Service Details</h1>
            </div>
          </div>
        </section>
        <!-- Breadcrumb section end -->
  
  
        <!-- Service details start -->
        <section class="service__details-area pt-140">
          <div class="container">
            <div class="service__details-top">
              <h1 class="title cxu-words">Branding Design</h1>
              <img src="/imgs/service/service-details-2.png" alt="Image" data-speed="0.95">
            </div>
  
            <div class="service__details-wrapper">
              <div class="service__details-content cxu-fade" data-ease="back">
                <h2>From eye-catching logos to immersive web design</h2>
                <p>Need something changed or is there something not quite working the way you envisaged? Is your Nemo eni
                  little old and tired and need refreshing? Lorem Ipsum is simply dummy text of the printing and
                  typesetting ip industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s,
                </p>
                <h2>Processing of service</h2>
                <p>Build a unique Website with Pulsar Webflow Template Lorem ipsum dolor sit amet, consectetur adipisicing
                  elit. Placeat qui ducimus illum modi? perspiciatis Sed ut perspiciatis unde omnis iste naccusamus soluta
                  perferendis, ad illum, nesciunt, reiciendis iusto et cupidit Repudiandae provident to consectetur,
                  sapiente, libero iure necessitatibus corporis nulla voluptate, quisq uam aut perspiciatis? Fugiat labore
                  aspernatur eius.</p>
              </div>
              <div class="service__details-sidebar cxu-fade" data-ease="back" data-delay="0.5">
                <div class="book-call">
                  <img src="/imgs/service/service-details-3.jpg" alt="Image">
                  <h3 class="title">Looking for Design service Provider?</h3>
                  <a href="tel:01738863188" class="cxu-btn-primary">Book a free call <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Service details end -->
  
  
        <!-- Full Image area start -->
        <div class="service__full-image">
          <img src="/imgs/service/service-details.jpg" alt="Image" data-speed="0.8">
        </div>
        <!-- Full Image area end -->
  
  
        <!-- Related Service section start -->
        <section class="service__related-area pt-140 pb-140">
          <div class="container">
            <div class="service__related-wrapper">
              <div class="top">
                <h2 class="sec-title cxu-words">Our other <br> services.</h2>
                <p class="cxu-lines">Tellus in hac habitasse platea dictumst diam quamvesbulum rhoncus est pellentesque.
                </p>
                <a href="/contact " class="cxu-btn-primary cxu-fade" data-ease="back">Contact Us</a>
              </div>
  
              <div class="cxu__service style-2">
                <div class="service-item cxu-fade" data-ease="back">
                  <div class="icon">
                    <img src="/imgs/service/i1.png" alt="Icon">
                  </div>
                  <h3 class="title"><a href="/service-detail">Branding <br> Design </a></h3>
                  <p>Fusce dapibus cursus commodo tortor mauris condimentum.</p>
                  <div class="link">
                    <a href="/service-detail">Learn more <i class="fa-solid fa-arrow-right"></i></a>
                  </div>
                </div>
                <div class="service-item cxu-fade" data-ease="back">
                  <div class="icon">
                    <img src="/imgs/service/i2.png" alt="Icon">
                  </div>
                  <h3 class="title"><a href="/service-detail">Product <br> Design</a></h3>
                  <p>Fusce dapibus cursus commodo tortor mauris condimentum.</p>
                  <div class="link">
                    <a href="/service-detail">Learn more <i class="fa-solid fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Related Service section end -->
  
  
        <!-- CTA section start -->
        <section class="cta__area cta__area-2 pt-150 pb-150">
          <div class="container">
            <div class="cta__content">
              <h2 class="sec-title cxu-words">Let's Create an Amazing Project Together!</h2>
              <a href="/contact" class="cxu-btn-primary cxu-fade" data-ease="bounce">Start a Project <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
  
          <img src="/imgs/shape/cta.png" alt="Shape" class="shape" data-speed="0.94">
          <img src="/imgs/shape/cta-2.png" alt="Shape" class="shape-2" data-speed="0.95">
          <img src="/imgs/shape/cta-3.png" alt="Shape" class="shape-3" data-speed="0.9">
          <img src="/imgs/shape/cta-4.png" alt="Shape" class="shape-4">
        </section>
        <!-- CTA section end -->
  
        <%- include('./Partials/Footer') %>
